.InfoCard {
  .title {
    font-size: 14px;
    font-weight: 800;
  }
  &-content {
    padding: 30px;
    margin: 40px 0px;
    border: 1px solid white;
    width: 200px;
    border-radius: 5px;
    background-color: gray;
    color: white;
  }
}
